:root{
    --primaryColor: #577D86;
    --primaryaccentColor: #63929d;
    --backgroundColor: #B9EDDD;
    --foregroundColor: #daf4ec;
    --myTitleFont:'Dancing Script', cursive;
    --fontDefaultTextFont: 'Lato', sans-serif;
    --fontDefaultHeading: 'Montserrat', sans-serif; 
    --titlefont:'Sacramenta',cursive;
    --midfont:'Montserrat', sans-serif;
}

body{
    margin: 0px;
    color: var(--primaryColor);
    text-align: center;
    font-family: var(--fontDefaultHeading);
    line-height: 2;
}

.top-section{
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    /* height: 400px; */
    text-align: center;
    padding-top: 150px;

}
.heading {
    font-family: var(--myTitleFont);
    margin: 0;
    font-size: 4rem;
}
.bio {
    font-family: var(--titlefont);
    margin: 0;
    font-size: 1rem;  /* 1em = 16px */
    padding-bottom: 20px;
}
.top-cloud{
    position: absolute;
    margin-block-start: -100px;
    margin-left: 400px;
    width: 300px;
}
.bottom-cloud{
    position: absolute;
    margin-block-start: 50px;
    margin-left: -400px;
    width: 300px;
}
.mountain{
    width: 500px;
}
img{
    margin-bottom:-5px;
}

hr{
    border: dotted 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-bottom: none;
    width: 10%;
    opacity: 60%;
}
/*mid container*/
.mid-container{
    display: block;
    width: 60%;
    margin: auto;
}
.profileimg{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: block;
    margin: auto;
    padding: auto;
    margin-top: 100px;
}
.hello{
    font-family: var(--midfont);
    font-weight: normal;
    font-size: 2rem;
    margin-top: 50px
}
.para{
    width: 50%;
    margin: auto;
    padding: auto;
    /* line-height: 2; */
    font-size: 1rem;
}
.skills{
    font-family: var(--midfont);
    font-weight: normal;
    font-size: 3rem;
    margin-top: 100px;
    margin-bottom: 70px;
}
.imagee{
    width: 150px;
}
.skilltype{
    text-align: left;
}
.img1{
    float: left;
    margin-right: 40px;

}
.img2{
    float: right;
    margin-left: 40px;
}
.contact{
    text-decoration: none;
    color: white;
    background-color: var(--primaryColor);
    font-size: 1.5rem;
    padding: 7px 15px;
    border-radius: 15px;
    margin: 50px auto;
    font-family: var(--fontDefaultHeading);
    border: none;
}
.contact:hover{
    background-color: var(--primaryaccentColor);
    cursor: pointer;
}
/*bottom-section*/
.bottom-section{
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
    margin: 0px auto;
    height: 200px;
    justify-content: center;
}
.social-link{
    margin: 0px 40px;
    color: var(--backgroundColor);
    text-decoration: none;
}
.social{
    padding: 50px 0px 20px 0px;
}
.social-link:hover{
    color: var(--foregroundColor);
}