body{
    background-color: bisque;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img{
    width: 200px;
}
/*dimensions : px,%,em */
/*color: name,rgb*/

/*padding - internal gap */
/*margin - external gap */
.para{
    padding : 10px 0px 10px 10px;
    background-color: rgb(177, 32, 32);
    color: antiquewhite;
}
.image{
    border-radius: 100%;
    margin-bottom: 30px;
    position: relative; 
    top: 0px;
    right: -100px;
}
#special{
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: rgb(48, 48, 48);
}
/*grouping the selectors*/
h1,h2{
    color:rgb(177, 32, 32);
}
/*pseudo selectors*/
.image:hover{
    border-radius: 10%;
}
#special:hover{
    background-color: white;
    color:black;
}
img:hover{
    background-color: rgb(238, 218, 218);
    border-radius: 10%;
    border: 2px solid black;
}
.square{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: -2px; /*margin: t b r l */
    /*margin: t b*/
}
.one{
    position: relative;
    top: 100px;
    background-color: red;
    /* visibility: hidden; */
}
.two{
    /* margin-left: 100px; */
    vertical-align: -100px;
    position:relative;
    top:30px;
    left: -80px;
    background-color: green;
}
.three{
    /* margin-left: 200px; */
    position: relative;
    top: -50px;
    left: -160px;
    vertical-align: -200px;
    background-color: blue;
}